<h1>Products#add</h1>
<<<<<<< HEAD
<%= cart.each do |product| %>
  <p> <%= product %> </p>
<% end %>
=======
<p>Find me in app/views/products/add.html.erb</p>
>>>>>>> d1bc0effd73d1e56f79cd24a8cc13cfc305e06a0
